In [15]:
import pandas as pd
import time
from simpleLinearRegression import SLR
import os

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/roualdes/data/master/admissions.csv")
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [36]:
start_time = time.time()
mu_hats, confidence_interval = SLR(df[['gpa', 'gre']], 10000, confidence_percentage = 80, ncpus = 7)
elapsed_time = time.time() - start_time

In [29]:
mu_hats

array([192.23273767, 116.67320608])

In [30]:
confidence_interval

array([[131.10506467, 253.57787798],
       [ 98.95720334, 134.33432537]])

In [34]:
elapsed_time

201.76466917991638

In [32]:
os.cpu_count()

16

In [37]:
import psutil 
psutil.cpu_count(logical = False)

8